.TeaxtApp {
    width: 100vw;
    height: 100vh;
    background: rgb(38,45,67);
    background: linear-gradient(180deg, rgba(38,45,67,1) 20%, rgba(201,213,255,1) 20%); 
    display: flex;
    justify-content:center;
    align-items: center;
}

.TeaxtAppContainer{
 
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: #e4eaff;
  display: grid; 
  grid-template-columns: 0.6fr 1.4fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Dashboard PanelContainer"; 
  justify-self: center; 
  align-self: center; 
  grid-area: TextAppContainer; 
  width: 1120px; 
  height: 820px; 
}



.Conversation { grid-area: Conversation; }


